<body>
  <div class="container">

    <div class="row row-centered offset7">
      <div class="col-md-7 col-md-offset-2">
        <h1 class="font2">Your Feed</h1>
      </div>
    </div>


    <div class="row offset7">
      <div class="col-md-offset-1 col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">9 December 2014</h3>
          </div>
          <div class="panel-body">
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="EXAMPLE" alt="...">
                <div class="caption">
                  <h6 class="font2">TOP DESIGNER + NAME</h6>
                  <p>#season #fit #fabric</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="EXAMPLE" alt="...">
                <div class="caption">
                  <h6 class="font2">BOTTOM DESIGNER + NAME</h6>
                  <p>#season #fit #fabric</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="EXAMPLE" alt="...">
                <div class="caption">
                  <h6 class="font2">OUTERWEAR DESIGNER + NAME</h6>
                  <p>#season #fit #fabric</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="EXAMPLE" alt="...">
                <div class="caption">
                  <h6 class="font2">SHOES DESIGNER + NAME</h6>
                  <p>#season #fit #fabric</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="EXAMPLE" alt="...">
                <div class="caption">
                  <h6 class="font2">ACCESSORY DESIGNER + NAME</h6>
                  <p>#season #fit #fabric</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group" >
                <div class="form-inline">
                  <input id="usercomments" type="textbox" placeholder="Comments" class="form-control" >
                  <input class="btn btn-default " type="button" value="Submit" id="usercomments">
                </div>
              </div>
              <p><a href="" class="btn btn-sm1 btn-default buttonStyle" role="button"><i class="fa fa-heart"></i></a><a href="" class="btn btn-sm1 btn-default" role="button">Meh</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row offset7">
      <div class="col-md-offset-1 col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">8 December 2014</h3>
          </div>
          <div class="panel-body">
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="EXAMPLE" alt="...">
                <div class="caption">
                  <h6 class="font2">TOP DESIGNER + NAME</h6>
                  <p>#season #fit #fabric</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="EXAMPLE" alt="...">
                <div class="caption">
                  <h6 class="font2">BOTTOM DESIGNER + NAME</h6>
                  <p>#season #fit #fabric</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="EXAMPLE" alt="...">
                <div class="caption">
                  <h6 class="font2">OUTERWEAR DESIGNER + NAME</h6>
                  <p>#season #fit #fabric</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="EXAMPLE" alt="...">
                <div class="caption">
                  <h6 class="font2">SHOES DESIGNER + NAME</h6>
                  <p>#season #fit #fabric</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="EXAMPLE" alt="...">
                <div class="caption">
                  <h6 class="font2">ACCESSORY DESIGNER + NAME</h6>
                  <p>#season #fit #fabric</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group" >
                <div class="form-inline">
                  <input id="usercomments" type="textbox" placeholder="Comments" class="form-control" >
                  <input class="btn btn-default " type="button" value="Submit" id="usercomments">
                </div>
              </div>
              <p><a href="" class="btn btn-sm1 btn-default buttonStyle" role="button"><i class="fa fa-heart"></i></a><a href="" class="btn btn-sm1 btn-default" role="button">Meh</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row offset7">
      <div class="col-md-offset-1 col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">7 December 2014</h3>
          </div>
          <div class="panel-body">
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="EXAMPLE" alt="...">
                <div class="caption">
                  <h6 class="font2">TOP DESIGNER + NAME</h6>
                  <p>#season #fit #fabric</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="EXAMPLE" alt="...">
                <div class="caption">
                  <h6 class="font2">BOTTOM DESIGNER + NAME</h6>
                  <p>#season #fit #fabric</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="EXAMPLE" alt="...">
                <div class="caption">
                  <h6 class="font2">OUTERWEAR DESIGNER + NAME</h6>
                  <p>#season #fit #fabric</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="EXAMPLE" alt="...">
                <div class="caption">
                  <h6 class="font2">SHOES DESIGNER + NAME</h6>
                  <p>#season #fit #fabric</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <img src="EXAMPLE" alt="...">
                <div class="caption">
                  <h6 class="font2">ACCESSORY DESIGNER + NAME</h6>
                  <p>#season #fit #fabric</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group" >
                <div class="form-inline">
                  <input id="usercomments" type="textbox" placeholder="Comments" class="form-control" >
                  <input class="btn btn-default " type="button" value="Submit" id="usercomments">
                </div>
              </div>
              <p><a href="" class="btn btn-sm1 btn-default buttonStyle" role="button"><i class="fa fa-heart"></i></a><a href="" class="btn btn-sm1 btn-default" role="button">Meh</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
