<body>
  <div class="container">
    <div class="row row-centered">
      <div class="col-md-7 col-md-offset-2">
        <h1 class="font2">Closets are <b>dumb</b>.</h1>
        <h3 class="font2">We're making 'em smart. Here's how.</h3>
        </div>
      </div>
      <div class="row row-centered offset3 offset4">
        <div class="col-md-3">
          <img class="img-responsive img-circle circle" src="http://37.media.tumblr.com/a2f328918fe02c0e4ec3f575b321b2f5/tumblr_mjdw780lZd1ruzozjo1_500.jpg" />
          <h4 class="font2">Find a Stylist</h4>
          <p>Let's be honest. There are cats out there who know this style game better than us. The goods news? They're here to help. We help you connect with one and then just let the sprezzatura roll in.</p>
        </div>
        <div class="row">
          <div class="col-md-3 col-md-offset-1">
            <img class="img-responsive img-circle circle" src="http://40.media.tumblr.com/tumblr_lvvc59rRuk1qdqv28o1_500.jpg" />
            <h4 class="font2">Closet Check</h4>
            <p>Here's the fun part. That person you just found is going to come over and talk about your personal style and check out your closet. Sound creepy? Promise it's not. Why? Because they've got your best interests at heart and just want to see what you're working with.</p>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">
              <img class="img-responsive img-circle circle" src="http://40.media.tumblr.com/2cd09800391bf558c2c09e8ddc725fda/tumblr_naiixj3PPl1s5v4mjo1_1280.jpg" />
              <h4 class="font2">Look Good</h4>
              <p>From here on out, you're getting at least a recommendation a day from a top homie who has your closet, budget, and best interests in mind. So, whether it's a black tie affair or the playoffs at your local bowl-o-rama, we've got you covered.</p>
            </div>
          </div>
        </div>
        <div class="row row-centered">
          <div class="col-md-7 col-md-offset-2">
            <p class="offset5"><a href="/stylists/find" class="btn btn-default" role="button">Get started</a></p
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>


<!-- COPY
  <h6>They don't remind us that we've got a killer vintage bomber to wear on that first date. They don't tell us if the clothes we pulled out in the pitch dark at the crack of dawn even match. They don't even tell us if we look half decent.</h6> -->
