<body>
  <div class="container">
    <div class="row offset1">
      <div class="col-md-2">
        <img class="img-responsive img-circle circle2" src="http://data3.whicdn.com/images/72064871/large.jpg" />
      </div>
      <div class="col-md-10">
        <h4 class="font2">What does this thing cost?</h4>
        <p>Here's the deal. We're not here to force you to buy stuff you don't need. We're here to make better use of the things you already have.</p>
        <p>What we think is fair is that the guy or gal who's both helping you look good and save money in the process should be compensated for his or her time. So, here's our complicated pricing structure in all its glory.</p>
        <p>First 30 days? Free. Love it? <b>$199/year</b>.</p>
      </div>
    </div>
  </div>
</body>
