    <div class="row offset7">
      <div class="col-md-9 col-md-offset-1">
        <h1 class="font2">Your clients</h1>
      </div>
    </div>
    <div class="row row-centered offset4">
      <div class="col-md-3 col-md-offset-1">
        <div class="thumbnail">
          <img class="img-responsive image-stylist" src="https://pbs.twimg.com/profile_images/3129954605/040c032bd5c453e688b343040dec8c90_400x400.jpeg" alt="...">
          <div class="caption">
            <h4 class="font2">Raghu Betina</h4>
            <p>Chicago, IL<br>
            Professor, Application Development<br>
            #descriptor #descriptor #descriptor</p>
            <p><a href="/outfits/new" class="btn btn-default" role="button">Contact</a> </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img class="img-responsive image-stylist" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/8/005/06b/043/1c88c60.jpg" alt="...">
          <div class="caption">
            <h4 class="font2">Arjun Venkataswamy</h4>
            <p>Chicago, IL<br>
            T.A., Application Development<br>
            #descriptor #descriptor #descriptor</p>
            <p><a href="/outfits/new" class="btn btn-default" role="button">Contact</a> </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img class="img-responsive image-stylist" src="http://img3.wikia.nocookie.net/__cb20111216183045/thebiglebowski/images/7/7e/The_Dude.jpeg" alt="...">
          <div class="caption">
            <h4 class="font2">The Dude</h4>
            <p>Venice, CA<br>
            Amateur Bowler<br>
            #whiterussians #maryjane #sweaters</p>
            <p><a href="/outfits/new" class="btn btn-default" role="button">Contact</a> </p>
          </div>
        </div>
      </div>
    </div>
