
<body class="full">
    <div class="container">
        <div class="row row-centered offset8">
            <div class="col-md-7 col-md-offset-2">
                <h1 class = "title font1">The Vesti Project</h1>
                <h4 class="white font2">Your closet just got smarter.</h4>
                <p class="offset5"><a href="/howitworks" class="btn btn-default" role="button">How it works</a></p>
            </div>
        </div>
    </div>
</body>
