<body>
  <div class="container">
    <div class="row row-centered offset3">
      <div class="col-md-9 col-md-offset-1">
        <h2>Without stylists, Vesti doesn't exist.</h2>
        <h4>So go on with your bad self and tell us about all the good you can do.</h4>
      </div>
    </div>
    <div class="row offset3 offset4">
      <div class="col-md-9 col-md-offset-1">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputName1" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputName1" placeholder="Name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail1" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail1" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="location1" class="col-sm-2 control-label">Location</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="location1" placeholder="City, State">
            </div>
          </div>
          <div class="form-group">
            <label for="occupation1" class="col-sm-2 control-label">Occupations</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="occupation1" placeholder="All relevant styling experience">
            </div>
          </div>
          <div class="form-group">
            <label for="icons1" class="col-sm-2 control-label">Favorite Designers/Brands</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="icons1" placeholder="Thom Browne, Boglioli, APC, etc.">
            </div>
          </div>
          <div class="form-group">
            <label for="inspirations1" class="col-sm-2 control-label">Style Inspirations</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inspirations1" placeholder="Rhett Butler, Picasso, Frank Lloyd Weight, etc.">
            </div>
          </div>
          <div class="form-group">
            <label for="peeves1" class="col-sm-2 control-label">Styling Pet Peeves</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="peeves1" placeholder="Socks with sandals, tie with polo shirt, ill-fitting pants, etc.">
            </div>
          </div>
          <div class="form-group">
            <label for="availability1" class="col-sm-2 control-label">Availability</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="availability1" placeholder="Number of hours available on a daily basis">
            </div>
          </div>
          <div class="form-group">
            <label for="portfolio1" class="col-sm-2 control-label">Portfolio</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="portfolio1" placeholder="Send us a link to your website (if you have one)">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</body>


<!-- COPY
  <h6>They don't remind us that we've got a killer vintage bomber to wear on that first date. They don't tell us if the clothes we pulled out in the pitch dark at the crack of dawn even match. They don't even tell us if we look half decent.</h6> -->
