<body>
  <div class="container">
    <div class="row offset1">
      <div class="col-md-2">
        <img class="img-responsive img-circle" src="https://scontent-a-atl.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10430873_10101401011872827_8185294829159451220_n.jpg?oh=b604e25e253777ec5ecfa16f203dfda2&oe=5512FD6A" />
      </div>
      <div class="col-md-10">
        <h4>My name is Peter Christman.</h4>
        <p>And, for now, it's only me here.</p>
        <p>That said, the Vesti Project was born out of Raghu Betina's Application Development class at the University of Chicago Booth School of Business. It was made (and is being made) with an exorbitant amount of help from all those in 36110-01. I'll be sure to get those names up here shortly.</p>
        <p>In the meantime, let me know what you think. You can reach me at p**************@gmail.com.</p>
      </div>
    </div>
  </div>
</body>
