<body>
  <div class="page-header">
    <h1>Inventory</h1>
  </div>
  <div class="container">

    <div class="row">
      <div class="col-md-2">
        <div class="thumbnail">
          <img src="https://s-media-cache-ak0.pinimg.com/236x/e6/3d/0c/e63d0c8ad205038bc1d70d28ec9ab047.jpg" alt="...">
          <div class="caption">
            <h6>Tops</h6>
            <p><a href="/tops" class="btn btn-default" role="button">Go</a> </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <img src="https://s-media-cache-ak0.pinimg.com/236x/38/b2/23/38b2231fbd6c1999838163e13f68e10f.jpg" alt="...">
          <div class="caption">
            <h6>Bottoms</h6>
            <p><a href="/bottoms" class="btn btn-default" role="button">Go</a> </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <img src="https://s-media-cache-ak0.pinimg.com/236x/54/8f/1f/548f1f70c14339e43a75e6c8a2e44371.jpg" alt="...">
          <div class="caption">
            <h6>Outerwear</h6>
            <p><a href="/outerwears" class="btn btn-default" role="button">Go</a> </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <img src="https://s-media-cache-ak0.pinimg.com/236x/40/46/fc/4046fc13b4d7823e5520eb1ce52669c3.jpg" alt="...">
          <div class="caption">
            <h6>Shoes</h6>
            <p><a href="/shoes" class="btn btn-default" role="button">Go</a> </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <img src="http://s3.amazonaws.com/cloud.scoutmob.com/shoppe/products/32386/original/01_a_skinny_rings-1.jpg" alt="...">
          <div class="caption">
            <h6>Accessories</h6>
            <p><a href="/accessories" class="btn btn-default" role="button">Go</a> </p>
          </div>
        </div>
      </div>
      <div class="row">
       <div class="col-md-2"
       <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search for item...">
          </div>
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </form>
      </ul>
    </div>
  </div>
</div>
</div>

<div class="page-header">
  <h1>Details</h1>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="thumbnail">
      <img src="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=16390148" alt="...">
      <div class="caption">
        <h6>Names</h6>
        <p><a href="/names" class="btn btn-default" role="button">Go</a> </p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <img src="http://www.details.com/blogs/daily-details/LEAD-thombrowne-qanda-interview-460.jpg" alt="...">
      <div class="caption">
        <h6>Designers</h6>
        <p><a href="/designers" class="btn btn-default" role="button">Go</a> </p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <img src="http://www.details.com/images/style-advice/rules-of-style/201209/rules_suits_resized2/suits_elegance_2_4_evss.jpg" alt="...">
      <div class="caption">
        <h6>Fits</h6>
        <p><a href="/fits" class="btn btn-default" role="button">Go</a> </p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <img src="https://s-media-cache-ak0.pinimg.com/236x/a3/6d/d9/a36dd927d011e1c6b9b2df4a8b815a45.jpg" alt="...">
      <div class="caption">
        <h6>Fabrics</h6>
        <p><a href="/fabrics" class="btn btn-default" role="button">Go</a> </p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <img src="http://blog.smartfurniture.com/wp-content/uploads/2013/05/Moses-Harris-1766-Color-Wheel-595x400.jpg" alt="...">
      <div class="caption">
        <h6>Colors</h6>
        <p><a href="/colors" class="btn btn-default" role="button">Go</a> </p>
      </div>
    </div>
  </div>
</div>
<div class="row offset4">
  <div class="col-md-2">
    <div class="thumbnail">
      <img src="https://turnoffman.files.wordpress.com/2014/04/tumblr_mc480pb8wr1rbykrgo1_500.jpg" alt="...">
      <div class="caption">
        <h6>Seasons</h6>
        <p><a href="/seasons" class="btn btn-default" role="button">Go</a> </p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <img src="http://ak2.polyvoreimg.com/cgi/img-thing/size/l/tid/57856537.jpg" alt="...">
      <div class="caption">
        <h6>Occasions</h6>
        <p><a href="/occasions" class="btn btn-default" role="button">Go</a> </p>
      </div>
    </div>
  </div>
</div>
</div>
</body>
