<body>
    <div class="container">
      <div class="ek-background">
        <div class="jumbotron">
          <div class="row">
            <div class="container col-md-7">
              <h1>Your closet is dumb.</h1>
              <h1>We make it <b>smart</b>.</h1>
              <button class="btn btn-default btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg">Get started</button>

              <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="row">
                      <h2>We can do this in two ways.</h2>
                    </div>
                    <div class="row">
                      <h4>1. Search for it.</h4>
                      <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Enter brand and sku...">
                        </div>
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                      </form>
                    </div>
                    <div class="row">
                      <h4>2. Or upload it.</h4>
                      <p><a class="btn btn-default btn-lg" role="button">Find item</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container col-md-4 col-md-offset-1">
              <img src="http://data2.whicdn.com/images/19178392/large.jpg" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
    </body>
    </html>

