<body>
  <div class="container">
  <div class="row row-centered offset3">
      <div class="col-md-7 col-md-offset-2">
        <h1>The Vesti Project</h1>
        <h4>Making your closet smart.</h4>
        <img src="http://www.interiororiginal.com/wp-content/uploads/2011/08/Incredible-Closets-and-Wardrobes-Design-for-Small-Room.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</body>

