<body>
  <div class="container">
    <div class="ek-background">
      <div class="jumbotron">
        <div class="row">
          <div class="container col-md-7">
          <h3>My name is Peter Christman.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
