<% if @occasion.errors.any? %>
  <% @occasion.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h1>Add Occasion</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_occasion" class="form-horizontal">
      <!-- Label and input for occasion -->
      <div class="form-group">
        <label for="occasion" class="col-sm-2 control-label">
          Occasion
        </label>
        <div class="col-sm-10">
          <input type="text" id="occasion" name="occasion" placeholder="Occasion" class="form-control" value="<%= @occasion.occasion %>">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Create Occasion" class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Occasion</h3>
      </div>
      <div class="panel-body">
        <form action="/create_occasion" class="form-horizontal">
          <!-- Label and input for occasion -->
          <div class="form-group">
            <label for="occasion" class="col-sm-2 control-label">
              Occasion
            </label>
            <div class="col-sm-10">
              <input type="text" id="occasion" name="occasion" placeholder="Occasion" class="form-control" value="<%= @occasion.occasion %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Create Occasion" class="btn btn-primary">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
